.tab{
    display: table;
    width: 100%;
    border-spacing:1.5em;
  }
  
  .tab2{
    display: table;
    width: 100%;
    padding: 1em;
  }
  
  .box{
    display: table-cell;
    padding:5em;
    width:20%;
    border:black 1px solid;
    }
  
  button{
    display: table-cell;
    width: 20%;
  }
  h1{
    text-align: center;
  }
  h2{
      text-align: center;
  }